/* @font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
  } */

body{
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.navbar{
    background-color: #5f236e;
}



h1
{
	font-size: 36px;
	font-weight: 400;
	color: rgb(91, 28, 128);
	margin: 20px;
}

.main_page
{
	text-align: center;
}






.whole
{
    display: flex;
    justify-content: center;
}

#half1
{
    display: inline-block;
    width: 498px;
}

#half2
{
    display: inline-block;
    width: 498px;
    text-align: right;
}

.tab th
{
    text-align: right;
}

.tab td
{
    padding-left: 5px;
}

.tabelka
{

    border-collapse: collapse;
    display: inline-block;
    margin-right: 10px;

    font-size: 15px;
}


.tabelka tr
{
    border: 1px solid black;
    border-collapse: collapse;
}

.tabelka th
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    background-color: rgb(225, 225, 255);
    
}

.tabelka td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: right;
}

.tabelka tr:nth-child(even)
{
    background-color: #f2f2f2;
}


.komunikat
{
    font-size: 32px;
}

.hreturn
{
    text-decoration: none;
    color: deeppink;
}

.con_tab
{
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.zwrot
{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 5px;
    text-align: center;
    font-size: 32px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 30px;    
    cursor: pointer;
}

.zwrot:hover
{
    background-color: rgb(36, 114, 39);
}

.counter
{
    font-size: 15px;
    
}

.baner
{
    margin: 0;
    padding: 5px;
}

.baner h1
{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.space
{
    height: 10px;
}



.item{
    width: 800px;
    background-color: rgb(136, 183, 221);
    border-radius: 25px;
    padding: 5px 25px 5px 25px;
    margin-top: 10px;
}

.back_home{
    height: 128px;
    width: 128px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(img/reply.png);
}



.logout
{
	text-decoration: none;
	color: white;
	background: #4f52d1;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 140px;
	padding: 5px 10px;
	font-family: lato;
	font-size: 17px;
	border: none;
	border-radius: 5px;
	text-align: center;
	transition: background-color 0.5s ease-out;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	-moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	margin-top: 10px;
}

.logout:hover{
	background-color: #464bf4;
}

.check_t
{
	text-decoration: none;
	color: white;
	background: #4f52d1;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 140px;
	padding: 5px 10px;
	font-family: lato;
	font-size: 17px;
	border: none;
	border-radius: 5px;
	text-align: center;
	transition: background-color 0.5s ease-out;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	-moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	margin-top: 10px;
}

.user_control
{
    width: 300px;
    margin: auto;
	padding: 15px;
	background-color: #5f236e;
	border-radius: 30px;
	color: white;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	-moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.64);
	text-align: center;
}

/* header{
    width: 100%;
    background: #7F6285;
}

.header_up{
    height: 60px;
}

.header_up h1{
    text-align: center;
    margin: 0;
    padding-top: 9px;
    font-size: 36px;
} */

/* .header_up a{
    text-decoration: none;
    color: black;
}

.header_down{
    height: 40px;
}

.header_down ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header_down ul li{
    display: inline-block;
    width: calc(20% - 4px);
    height: 36px;
    border: dashed 2px white;
    margin: 0;
    margin-left: -4px;
    transition: background-color 0.2s ease-in-out;
}

.header_down ul > :first-child{
    margin-left: 1px;
}

.header_down a{
    height: 32px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    padding: 4px;
    display: block;
    color: black;
}

.header_down ul li:hover{
    background: #744280;
} */

/* .container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-height: 900px;
    margin-top: 5px;
    
} */

/* .login_form{
    width: 500px;
    margin: auto;
    margin-top: 15px;
}


.table_label{
    text-align: right;
    width: 35%;
    font-size: 24px;
}

.table_input input[type=text]{
    margin-left: 10px;
}

.table_input input[type=password]{
    margin-left: 10px;
}


.table_submit{
    text-align: center;
} */

/* input[type=text], input[type=date], input[type=password] {
    padding: 6px 7px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: aliceblue;
  }

input[type=text]:focus, input[type=password]:focus {
    background-color: lightblue;
    outline: none;
  }

input[type=submit]
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}

input[type=submit]:hover
{
  background-color: rgb(36, 114, 39);
  
}

.searchbar{
    width: 400px;
    margin-left: 5px;
} */