/* @font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
  } */

body{
    background-color: #e3e3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.th-custom{
    background-color: #21664f !important;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: rgb(36, 32, 39);
    padding: 20px;
    letter-spacing: 2px;
}

.main_page h1
{
	text-align: center;
}

.navbg{
    background-color: #21664f !important;
}


.tab th
{
    text-align: right;
}

.tab td
{
    padding-left: 5px;
}


/* Katalog książek */

.results_wrapper{
    min-height: 200px;
}

.book_tab{
    min-height: 200px;
}

.book_tab a{
    min-width: 130px;
}

.cover{
    display: flex;
    align-self: center;
}

.cover img{
    width: 90%;
}



.h3{
    font-size: 20px;
    font-weight: bold;
}

.h4{
    font-size: 18px;
}

.description{
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
}

/* Wypożyczenia i zwroty */

.lend_form{
    display: table;
    width: 400px;
}


.user_subnav{
    font-size: 24px;
}

.user_subnav a{
    width: 200px;
}

.search-author{
    font-size: 12px;

}

input::-webkit-calendar-picker-indicator {
    display: none;
  }

  .bootstrap-select .text-muted {
    margin-left: 20px;
  }


/* Rejestracja */

.register_control{
    width: 700px;
    border-radius: 5px;
}


/* Book item page */

.cover_b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    text-align: center;
}

.cover_b img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 
}

.item_controls{
    display: flexbox;
}


.b_info{
    position: relative;
    min-height: 400px;
}

.title{
    font-size: 28px;
}

.author{
    font-size: 18px;
}

.publisher{
    margin-top: 40px;
    margin-bottom: 6px;
    font-size: 16px;
}

.genre{
    margin-bottom: 6px;
    font-size: 16px;
}

.oryginal_title{
    margin-bottom: 6px;
    font-size: 16px;
}

.description_page{
    font-size: 15px;
}

.item_controls a{
    width: 100%;
}

.comment img{
    width: 40%;
}

.comment-own img{
    width: 40%;
}

.comment{
    min-height: 150px;
}

.comment-own{
    min-height: 150px;
    background: lightcyan;
}

.add_date{
    font-size: 14px;
}

.comment-info{
    font-size: 22px;
}

/* Raporty */

#rep_page{
    padding: 10px;
    min-height: 500px;
}

.c-bg{
    background-color: #f0edf2 !important;
}


/* Panel admina */

.box_header{
    font-size: 22px;
}

.box_header:hover{
    cursor: pointer;
}

.box_content{
    display: none;
}

.w_form{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width: 576px) {
    .register_control{
        width: 400px;
    }

    .b_info{
        margin-top: 20px;
    }

    .cover img{
        width: 90%;
        margin: auto;
    }

    .book_tab_controls a{
        display: block;
        width: 100%;
    }

    .write-comment{
        width: 100%;
    }

    .table{
        font-size: 14px;
    }

  }

  @media only screen and (min-width: 576px) {

    .cover img{
        width: 90%;
        margin: auto;
    }

    .book_tab_controls a{
        display: block;
        width: 100%;
    }

    .write-comment{
        width: 100%;
    }

    .table{
        font-size: 14px;
    }

  }

  @media only screen and (min-width: 768px) {

    .cover img{
        width: 70%;
        margin: auto;
    }

    .cover{
        display: flex;
        align-self: center;
    }

    .book_tab_controls a{
        display: block;
        width: 100%;
    }

  }

  @media only screen and (min-width: 992px) {

    .cover img{
        width: 90%;
    }

  }
